
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: rgb(79, 79, 87);
}
/*Menu NAV*/

header{
    position: fixed;
    width: 100vw;
    top: 0;
}
nav{
    background-color: rgb(79, 79, 87);

}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    margin-left: 50px;
    list-style: none;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:hover{
    color: red;
}

header nav ul #me img{
    width: 100px;
    border-radius: 50%;
    
}
